@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:wght@200..1000&display=swap');

body {
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.main {
  width: 30rem;
  margin: 2rem 0 2rem 0;
}

.branding {
  display: flex;
  justify-content: center;
}

.logo {
  max-height: 10rem;
}

.list-title {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  font-weight: 700;
  font-size: 1rem;
  color: #9E9EB1;
  letter-spacing: 0;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  margin-right: 1rem;
  margin-left: 1rem;
}

.social a svg {
  width: 2rem;
  height: 2rem;
  fill: red;
}

.channels {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.channel-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 4rem;
  background: #FFFFFF;
  box-shadow: 0 1px 10px 0 rgba(35,38,42,0.05);
  border-radius: 12px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3D3D47;
}

.channel-item:hover {
  background: #E91B1B;
  color: #FFFFFF;
}

.channel-item { text-decoration: none; }
.channel-item:visited { text-decoration: none; }
.channel-item:hover { text-decoration: none; }
.channel-item:focus { text-decoration: none; }
.channel-item:hover, .channel-item a:active { text-decoration: none; }

@media (max-width: 600px) {
  .main { 
    width: calc(100% - 2rem);
  }

  .logo {
  max-height: 8rem;
  }
}
